
@{
    ViewData["Title"] = "Index";
}

<h2>Admin UI</h2>
<div>Options</div>
<ul>
    <li><a asp-action="RegisterExtensionAttributes">Register Extension Attributes</a></li>
    <li><a asp-controller="Users" asp-action="Index">Get Users</a></li>
    <li><a asp-action="UnRegisterExtensionAttributes">UnRegister Extension Attributes</a></li>
</ul>

