@model SignService.Models.KeyVaultDetailsModel

@{
    ViewData["Title"] = "Key Vault Details";
}

<h2>Error: Vault @ViewBag.Id is not in the correct resource group. Cannot view details here.</h2>


<div>
    <a asp-action="Index">Back to List</a>
</div>
